html {
    font-family: 'Quicksand', 'sans-serif';
    font-size: 10px;
    font-weight: 300;
    margin: 0;
    min-height: 100%;
    padding: 0;
}

body {
    margin: 0;
    min-height: 100%;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
    margin: 0;
    padding: 0;
}

.footer_copyright, nav a, .grid_title, .grid_info-lieu {
    font-weight: 400;
}

.pagination, .footer, .grid_reservation, nav a {
    font-size: 1.4rem;
}

h3, .reservation, .pagination_button {
    color: hsl(208, 61%, 57%);
}

.important, .footer, nav {
    background-color: #DCDCDC;
}

.grid_info-lieu, .grid_day, .grid_info-prix {
    width: 100%;
}

nav a, .grid > a {
    color: hsl(0, 0%, 0%);
}

main {
    margin: 0 auto;
}

/*----------header----------*/

h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    text-align: center;
}

h2 {
    border-bottom: 2px solid hsl(208, 61%, 57%);
    display: inline-block;
    font-size: 2.5rem;
    margin-bottom: 4rem;
    padding-bottom: 5px;
}

h3 {
    font-size: 2rem;
}

/*----------nav----------*/

nav {
    text-align: center;
}
  
nav a {
    display: block;
    padding: 1rem; 
    text-decoration: none;
}

nav a:hover {
    background-color: hsl(208, 61%, 57%);
}

.menu_icon {
    float: right;
}

/*----------grid----------*/

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-word;
}
    
.grid > a {
    box-sizing: border-box;
    box-shadow: 0 0 5px lightgrey;
    margin: 1rem;
    padding: 27px 25px 25px 25px;
    transition: transform .2s;
    text-decoration: none;
}

.grid > a:hover {
    transform: scale(1.06);
}
    
.grid_title {
    font-size: 2rem;  
}
    
.grid_day {
    margin-top: 0.1rem;
    font-size: 1.2rem;
}
    
.grid_info {
    margin-top: 1.3rem;
    font-size: 1.3rem;
}
        
.grid_info-prix {
    margin-top: 1.5rem;
}
    
.grid_reservation {
    margin-top: 1.3rem;    
    text-align: right;
    
}

.reservation {
    text-decoration: underline;
}

.grid span {
    display: block;
}

/*----------section----------*/

section {
    margin: 1rem;
}

.section_grid {
    margin-top: 5.5rem;
}

.section_paragraph_image {
    margin-top: 3.8rem;

}

.section_paragraph_image-text {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

.section_paragraph_image-text > div {
    margin: 2rem 0rem;
}

.image_sample {
    margin-bottom: 2rem;
    width: 100%;
}

.text_paragraph {
    font-size: 1.5rem;
}

/*----------pagination----------*/

.pagination {
    margin-top: 3rem;
    text-align: right;
}

/*----------footer----------*/

.footer_line {
    background: linear-gradient(135deg, hsl(188, 68%, 79%), hsl(141, 55%, 85%), hsl(38, 77%, 90%));
    height: 1rem; 
}  

.footer_copyright {
    height: 5rem; 
    line-height: 5rem;
    margin: 0 auto;
    text-align: center;
    width: 90vw;
}

.footer {
    margin-top: 5rem;
}

/*----------divers----------*/

.hide {
    display: none;
}

.scrollTop { 
    bottom: 10rem;
    height: 3rem;
    position: fixed;
    right: 1rem;
    width: 3rem;
}


@media screen and (min-width: 640px) {

    /*----------grid----------*/

    .grid {
        flex-direction: row;
    }
        
    .grid > a {
        flex: 1 1 40%;
    }

}

@media screen and (min-width: 768px) {

    /*----------header----------*/

    h1 {
        text-align: left;
    }
    
    /*----------divers----------*/
    .hide {
        display: inline;
    }

    /*----------nav----------*/
    .menu_icon {
        display: none;
    }

    nav {
        overflow: hidden;
        height: 10rem;
        line-height: 4rem;
        text-align: left;
    }

    nav a {
        display: inline-block;
        margin: 3rem 2rem 0rem 2rem;
        padding: 0;
        text-decoration: none;
    }

    nav a::after {
        background: hsl(208, 61%, 57%);
        content: '';
        display: block;
        height: 2px;
        transition: width .3s;
        width: 0;
    }

    nav a:hover {
        background-color: transparent;
    }

    nav a:hover::after {
        
        width: 100%;
    }

    .navigation {
        float: right;
    }

    .logo {
        margin: 2rem 1.5rem;
    }


}

@media screen and (min-width: 992px) {
    
    .pagination, .footer, .grid_reservation, .grid_info, nav a {
        font-size: 1.5rem;
    }

    /*----------header----------*/
    h1 {
        font-size: 4.5rem;
    }

    h2 {
        font-size: 3rem;
    }

    h3 {
        font-size: 2.3rem;
    }

    /*----------grid----------*/
    .grid > a {
        flex: 1 1 30%;
    }

    /*----------section----------*/

     .section_paragraph_image-text {
        flex-direction: row;
    }

    .section_paragraph_image-text .image_paragraph {
        order: 2;
    }

    .section_paragraph_image-text > div {
        margin: 0rem;
    }

    .text_paragraph {
        flex: 1 1 68%;
        margin-right: 3rem!important;
    }

    .image_paragraph {
        flex: 1 1 28%;
    }

    /*----------divers----------*/

    .scrollTop { 
        height: 6rem;
        width: 6rem;
    }

}

@media screen and (min-width: 1200px) {

    .pagination, .footer, .grid_reservation, .grid_info, nav a {
        font-size: 1.6rem;
    }

    /*----------header----------*/
    h1 {
        font-size: 5rem;
    }

    h2 {
        font-size: 3.5rem;
    }

    h3 {
        font-size: 2.5rem;
    }

    /*----------section----------*/

    section {
        margin: 0 auto;
        width: 106rem;
    }

    /*----------grid----------*/

    
    .grid_title{
        font-size: 2.1rem;  
    }

    .grid > a {
        flex: 1 1 22%;
    }

    .grid_info {
        font-size: 1.5rem;
    }

    .grid_day {
        font-size: 1.3rem;   
    }

    /*----------footer----------*/

    .footer_line {
        height: 1.3rem; 
    }  

    .footer_copyright {
        height: 8.7rem; 
        line-height: 8.7rem;
        text-align: right;
        width: 106rem;
    }

    .footer {
        margin-top: 10rem;
    }

}

@media screen and (min-width: 1600px){


    .pagination, .footer, .grid_reservation, .grid_info, nav a {
        font-size: 2rem;
    }

    /*----------header----------*/
    h1 {
        font-size: 6rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 3rem;
    }

    /*----------section----------*/

    section {
        margin: 0 auto;
        width: 146rem;
    }

    .text_paragraph {
        font-size: 1.6rem;
    }

    /*----------grid----------*/

    .grid_title {
        font-size: 2.6rem;  
    }

    .grid_info {
        font-size: 1.8rem;
    }

    .grid_day {
        font-size: 1.4rem;   
    }

    /*----------footer----------*/

    .footer_line {
        height: 1.3rem; 
    }  

    .footer_copyright {
        width: 146rem;
    }

    .footer {
        margin-top: 10rem;
    }

}
